$def with (credits)
 
<div class="longcontent">

<h2>About</h2>

<p><a href="http://www.google.com/ig">Google's Personalized Homepage</a> (and its <a href="http://www.google.com/apis/homepage/">API</a>) allows
you to add all kinds of modules &#8211; from weather maps to a Yahoo search box to anything really.
There was one problem though: there was no place to easily find or submit modules. Google has a directory of their own, but it doesn't
update with new submissions often and it only shows few modules. That's why we hacked up Google Modules for you.</p>

<p>A button for you: &nbsp; <img src="/img/googlemodules.gif" alt="[Google Modules]" /></p>

<h3>Who's behind the site?</h3>

<p><a href="$credits[0].homepage">$credits[0].name</a> and <a href="$credits[1].homepage">$credits[1].name</a>. Alex is from France, and Philipp is from Germany. We're both home on the web.
</p>

<!-- <h3>What's New</h3>
<p></p> -->

<h3>What people said about Google Modules</h3>

<p>"After the announcement from Google, not much happened officially, but
this is another good example of users acting faster than the corporate
world."<br />
<em>&#8211; <a href="http://lastpodcast.net/2005/12/21/even-more-google-widgets/">The Last Podcast</a></em></p>

<p>"The honorable Philipp Lenssen (of Google Blogoscoped) and his
associate Alex Ksikes have put together a gorgeous new listing of
available modules &#8211; GoogleModules.com. The design is sleek and the
interface intuitive, a simple download directory of currently
available modules. An excellent response to Google's inability to add
new modules to the module directory in a timely fashion."<br />

<em>&#8211; <a href="http://thegooglist.blogspot.com/2005/12/google-modules-gathers-modules-for.html">Googlist</a></em></p>

<h3>Privacy Policy, Copyright</h3>

<p>We collect data from public XML Homepage Modules which you submit or which we crawl to republish it here.</p>
<p>Modules are copyrighted to their individual authors &#8211; we do not claim copyright of the screenshots or XML source files here.</p>

<p>Google Modules is not affiliated with Google&trade;.</p>

<p class="footnote" style="margin-top: 60px">Verantwortlich f&#252;r diesen Server/ responsible for the this server: Philipp Lenssen, Rudolfstr. 8, 70190 Stuttgart</p>

</div>
