<h2>Submit your module <span class="subtitle">(<a href="/help/">?</a>)</a></h2>

<form action="/submit/" method="post"><div>
<table>
    <tr>
    <td>URL:</td><td><input type="text" size="40" name="url" /></td><td class="footnote">(e.g. an XML on Geocities)</td>
    </tr>
    <tr>
    <td>Tags:</td><td><input type="text" size="40" name="tags" /></td><td class="footnote">(optional, space&nbsp;separated)</td>
    </tr>
    <tr>
    <td>&nbsp;</td><td class="submitButton"><input type="submit" value="Submit" /></td></td>
    </tr>
</table>

</div></form>
